@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Hello !</h1>

Welcome to this Site!. If you want to take all Features, please Register a new Account <a href="/Account/Register">here.</a>


