@page "/Todos/Create"
@rendermode InteractiveServer
@inject NavigationManager uriHelper
<PageTitle>Create new Todo</PageTitle>

<h3>Create new Todo</h3>

<TodoForm ButtonText="Create Todo" todo="@todo"
    OnValidSubmit="CreateNewTodo"/> 

@code {
    HttpClient client;
    TodoModel todo = new();

    async Task CreateNewTodo()
    {
        client = new HttpClient();
        client.BaseAddress = new Uri("https://localhost:7061");
        await client.PostAsJsonAsync<TodoModel>("api/todo/create", todo);
        uriHelper.NavigateTo("/todos/todoindex");
    }
}
